<footer>
  <div class="f-info" style="background: black">
    <div class="f-info-social">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="f-info-brand">&copy; Explore Edge PVT LTD</div>
    <div class="f-info-links">
      <a href="/privacy" style="color: tomato">privacy |</a>
      <a href="/Terms" style="color: tomato">| Terms</a>
    </div>
  </div>
</footer>
